.container {
    height: 200px !important;
    background-color:rgb(35, 35, 48);
    margin-top: -90px;
    border-radius: 15px;
}
.card-root{
    width: 100%;
}
.card-media{
    height: 50vh;
    width: 100%;
}
