.root-details{
    border-radius: 0px;
}
.card-details{
   display: flex;
   justify-content: center;
   width: 100%;
}
.card-details-content{
    width: 90%;
}
.card-contents{
    padding: 45px;
    background-image: linear-gradient(to right, rgba(11.76%, 16.47%, 16.08%, 1.00) 150px, rgba(11.76%, 16.47%, 16.08%, 0.84) 100%);
}
.card-media-img{
   height: 80vh;
   width: auto;
   border-radius: 5px;
}
.grid{
    background-color: transparent;
}
.card-media-title-principal{
    color: white;
    font-weight: bold;
    font-size: 55px;
}
.card-media-title-secundary{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.card-media-overview{
    color: white;
    margin: 30px;
    text-align: justify;
}
ul{
    margin:0;
    padding:0;
    margin-left: 18px;
    margin-bottom: 20px;
}
li{
    color: white;
    display:inline;
    margin-right: 15px;
}
